<section class="sect top"> 
    <div class="top-contents">
        <div class="container">
            <div class="row">
                <div class="top-details">
                    <img src="assets/img/frecre.png" alt="" class="top-logo">
                    <h1>share and inspire</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sect mission">
    <app-navbar></app-navbar>
    <div class="backdrop"></div>
    <div class="container">
        <div class="row">
            <div class="floating-card">
                <h1>MISSION</h1>
                <h2>"lead all people to better education"</h2>
                <div class="profile-card">
                    <img src="assets/img/team-pic/gong-san-team-pic.svg" alt="">
                    <h4>Kaneko "Gong" Teruaki</h4>
                    <h5>CEO</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare elementum nisi, quis tempor est vehicula posuere. Praesent non neque at lorem sollicitudin viverra eget in felis. Aenean lectus tortor, dictum ut nisl eu, blandit bibendum dolor.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="sect products">
    <div class="container">
        <div class="row">
            <div class="assets">
                <h1>PRODUCTS & ASSETS</h1>
            </div>
        </div>
        <div class="row">
            <div class="column one">
                <div class="product-card">
                    <img src="assets/img/Eigomonogatari.png" alt="">
                    <h1>Eigomonogatari</h1>
                </div>
            </div>
            <div class="column one">
                <div class="product-card">
                    <img src="assets/img/Eigomuso.png" alt="">
                    <h1>Eigomuso</h1>
                </div>
            </div>
            <div class="column one">
                <div class="product-card">
                    <img src="assets/img/TOIEC.png" alt="">
                    <h1>Eigomonogatari</h1>
                </div>
            </div>
        </div>
    </div>
</section>