<app-navbar></app-navbar>
<section class="sect team-card">
    <div class="backdrop"></div>
    <div class="container">
        <div class="row">
            <div class="floating-card">
                <h1>ABOUT US</h1>
                <p>Our main business is making applications for Google play, iOS Appstore, Amazon Appstore and Windows Phone Apps + Games Store. Our android applications have already reached 3,000,000 downloads in Japan and still increasing. Our Short-term goal is to be the best Mobile Applications developer in Cebu City, Philippines.

                All of us are young (21~28 yrs. old) and friendly.


                We create an environment where people can put out 100% effort 
                and a mechanism to receive proper consideration. 

                Our latest application is EnglishStory. It is a game for Japanese people of all ages who want to learn English in a fun and easy way. This application is not just a simple english quiz application but it is a combination of RPG and quiz!

                You’ll be learning english and have fun at the same time because of its awesome and funny storyline. This application is not just for kids but it’s for everybody! It has 6000 English word and we will add more words in the future!

                About the game: You will be moving across all over Japan to challenge and defeat card monsters. Gather strong cards and upgrade them to be the strongest all across Japan.

                Each card has its own element which is fire, wind and water. You have to answer the questions correctly in order to defeat the enemy. Please don’t forget to rate ^_^ Enjoy!
                </p>
            </div>
        </div>
    </div>
</section>