.navigation{
    background: #fff;
    padding: 30px;
    width: 100%;
    &::after{
        content: " ";
        display: block;
        clear: both;
    }
    &.transparent{
        background: transparent;
        .brand .brand-text, .links li a{
            color: #fff;
        }
    }
    &.header{
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 9999;
    }
    .brand{
        display: inline-block;
        .brand-image{
            display: inline-block;
            width: 40px;
            height: auto;
            vertical-align: middle;
        }
        .brand-text{
            vertical-align: middle;
            display: inline-block;
            font-weight: 800;
            color: #363635;
            text-decoration: none;
        }
    }
    .links{
        list-style: none;
        padding: 0 20px;
        margin: 0;
        float: right;
        li{
            padding: 8px 40px;
            display: inline-block;
            
        }
        li a{
            color: #363635;
            text-decoration: none;
            font-weight: 800;
        }
    }
}