<nav>
    <button type="button" id="burger" class="burger-button">
        <span class="top"></span>
        <span class="patty"></span>
        <span class="bottom"></span>
    </button>
    <ul class="nav-links">
        <li><a [routerLink]="['']">COMPANY</a></li>
        <li><a [routerLink]="['','products']">PRODUCTS</a></li>
        <li><a href="https://www.medium.com/frecre-blog">BLOG</a></li>
        <li><a [routerLink]="['','about']">ABOUT US</a></li>
        <li><a [routerLink]="['','team']">TEAM</a></li>
        <li><a [routerLink]="['','contact']">CONTACT US</a></li>
    </ul>
</nav>