<section class="sect products">
        <app-navbar></app-navbar>
        <div class="container">
            <div class="row">

                <div class="assets">
                    <h1>UNITY APPLICATIONS</h1>
                </div>
            </div>
            <div class="row">
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/Eigomonogatari.png" alt="">
                        <h1><span><i class="fa fa-apple" aria-hidden="true"></i></span> &nbsp;&nbsp; <span><i class="fa fa-android" aria-hidden="true"></i></span></h1>
                        <h1>Eigomonogatari</h1>
                    </div>
                </div>
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/Eigomuso.png" alt="">
                        <h1><span><i class="fa fa-apple" aria-hidden="true"></i></span> &nbsp;&nbsp; <span><i class="fa fa-android" aria-hidden="true"></i></span></h1>
                        <h1>英単語バトル <br />【英単語で対戦ゲーム!?】135 </h1>
                    </div>
                </div>
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/TOIEC.png" alt="">
                        <h1><span><i class="fa fa-apple" aria-hidden="true"></i></span> &nbsp;&nbsp; <span><i class="fa fa-android" aria-hidden="true"></i></span></h1>
                        <h1>TOEIC単語をゲームで学ぶ　<br /> 英語無双</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sect products">
        <div class="container">
            <div class="row">
                <div class="assets">
                    <h1>UNITY ASSETS</h1>
                </div>
            </div>
            <div class="row">
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/Eigomonogatari.png" alt="">
                        <h1>Eigomonogatari</h1>
                    </div>
                </div>
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/Eigomuso.png" alt="">
                        <h1>Eigomuso</h1>
                    </div>
                </div>
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/TOIEC.png" alt="">
                        <h1>Eigomonogatari</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sect products">
        <div class="container">
            <div class="row">
                <div class="assets">
                    <h1>SOUND ASSETS</h1>
                </div>
            </div>
            <div class="row">
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/Eigomonogatari.png" alt="">
                        <h1>Eigomonogatari</h1>
                    </div>
                </div>
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/Eigomuso.png" alt="">
                        <h1>Eigomuso</h1>
                    </div>
                </div>
                <div class="column one">
                    <div class="product-card">
                        <img src="assets/img/TOIEC.png" alt="">
                        <h1>Eigomonogatari</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>