<app-navbar></app-navbar>
<section class="sect team-card">
    <div class="backdrop"></div>
    <div class="container">
        <div class="row">
            <div class="floating-card">
                <h1>MEET THE TEAM</h1>
                <div class="profile-card">
                    <img src="assets/img/team-pic/gong-san-team-pic.svg" alt="">
                    <h4>Kaneko "Gong" Teruaki</h4>
                    <h5>CEO</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare elementum nisi, quis tempor est vehicula posuere.</p>  
                </div>
                <div class="team-row">
                    <div class="container">
                        <div class="row">
                            <div class="column one">
                                <div class="profile-card">
                                    <img src="assets/img/team-pic/mark-team-pic.svg" alt="">
                                    <h4>Mark Lester "Cleru" Pardico</h4>
                                    <h5>Sound Designer</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare elementum nisi, quis tempor est vehicula posuere.</p>
                                </div>
                            </div>
                            <div class="column one">
                                <div class="profile-card">
                                    <img src="assets/img/team-pic/edsel-team-pic.svg" alt="">
                                    <h4>Edsel "Eds" Muzares</h4>
                                    <h5>HR Admin</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare elementum nisi, quis tempor est vehicula posuere.</p>
                                </div>
                            </div>
                            <div class="column one">   
                                <div class="profile-card">
                                    <img src="assets/img/team-pic/kentoy-team-pic.svg" alt="">
                                    <h4>Jan Kenith "Kentoy" Johannessen</h4>
                                    <h5>Web App Developer</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare elementum nisi, quis tempor est vehicula posuere.</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                </div>
                <div class="team-row">
                    <div class="container">
                        <div class="row">
                            <div class="column one">
                                <div class="profile-card">
                                    <img src="assets/img/team-pic/bic-team-pic.svg" alt="">
                                    <h4>John Kennedy "Bic" Bicbic</h4>
                                    <h5>Web App Designer</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare elementum nisi, quis tempor est vehicula posuere.</p>
                                </div>  
                            </div>
                            <div class="column one">
                                <div class="profile-card">
                                    <img src="assets/img/team-pic/josh-team-pic.svg" alt="">
                                    <h4>Joshua Karlo "Josh" Arban</h4>
                                    <h5>Unity Developer</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare elementum nisi, quis tempor est vehicula posuere.</p>
                                </div>
                            </div>
                            <div class="column one">
                                <div class="profile-card">
                                    <img src="assets/img/team-pic/wing-team-pic.svg" alt="">
                                    <h4>Wenielyn "Wing" Casquejo</h4>
                                    <h5>English Content Manager</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare elementum nisi, quis tempor est vehicula posuere.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>